<div class="title">
  <h1>Monitoramento</h1>
</div>

<div class="container-fluid">
  <rg-gauge-chart
    [canvasWidth]="canvasWidth"
    [needleValue]="temperaturaInt"
    [centralLabel]="centralLabel"
    [options]="options"
    name="Temperatura"
    [bottomLabel]="temperatura"
  ></rg-gauge-chart>

  <rg-gauge-chart
    [canvasWidth]="canvasWidth"
    [needleValue]="umidadeInt"
    [centralLabel]="centralLabel"
    [options]="options"
    name="Umidade"
    [bottomLabel]="umidade"
  ></rg-gauge-chart>
</div>
